// 全局SCSS变量
:root {
  --menuBg: #0f337a;
  --menuText: #d2d9e6;
  --menuActiveText: #fff;
  --menuHover: #2f408a;
  --subMenuBg: #0f337a;
  --subMenuActiveText: #fff;
  --subMenuHover: #2f408a;
  --borderRadius: 10px;
}

$menuBg: var(--menuBg);
$menuText: var(--menuText);
$menuActiveText: var(--menuActiveText);
$menuHover: var(--menuHover);
$subMenuBg: var(--subMenuBg);
$subMenuActiveText: var(--subMenuActiveText);
$subMenuHover: var(--subMenuHover);

$sideBarWidth: 200px;
